body {
  font-family: 'Alegreya Sans', sans-serif;
  background-image: url('https://img.freepik.com/free-vector/digital-red-circuit-lines-technology-background-design_1017-27263.jpg?w=1380&t=st=1701210637~exp=1701211237~hmac=98df68a79170d4b56c379ffc84d769e460fd235ee89db982220812e5c053e889');
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  color: #005A9E;
  text-align: center;
  margin: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-image: url('https://www.flaticon.com/svg/static/icons/svg/60/60740.svg');
  background-size: contain;
}

#logoutContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: red;
}
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .category-card {
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  
  .category-card img {
    width: 100%; /* Set to desired width */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Scale the image to cover the element */
    object-position: center; /* Center the image within the element */
    flex-grow: 1;
  }
 
  
  .category-card h2 {
    margin: 10px 0;
  }
  