body {
  font-family: 'Alegreya Sans', sans-serif;
  background-image: url('https://img.freepik.com/free-vector/digital-red-circuit-lines-technology-background-design_1017-27263.jpg?w=1380&t=st=1701210637~exp=1701211237~hmac=98df68a79170d4b56c379ffc84d769e460fd235ee89db982220812e5c053e889');
  background-size: cover;
  margin: 0;
  padding: 0;
}
  
  h1 {
    color: #005A9E;
    margin-bottom: 30px;
  }
  
  .login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #005A9E;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #004080;
  }
  
  .error-message {
    color: #D8000C;
    display: none;
  }
  
  .register-button {
    margin-top: 20px;
  }
  
  .user-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
  }
  